body main .carruseles, body main .viajes .viajes_contenedor, body main .intro_historia, body main div .nombreyfotos .seba {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

a {
  text-decoration: none;
  list-style: none;
}

body header .header_div {
  background: rgb(232, 6, 6);
  background: linear-gradient(90deg, rgb(232, 6, 6) 0%, rgb(255, 255, 255) 77%);
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1;
  align-items: center;
  text-align: center;
}
body header .header_div h1 {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  color: black;
  text-align: center;
}
@media screen and (max-width: 687px) {
  body header .header_div h1 {
    margin: 0;
  }
}
body header .header_div .logo {
  grid-area: "logo";
}
@media screen and (max-width: 687px) {
  body header .header_div .logo {
    height: 60px;
  }
}
@media screen and (max-width: 687px) {
  body header .header_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
body header nav div div ul .navbar_item_mio:hover {
  background-color: wheat;
  border-radius: 30px;
}
@media screen and (max-width: 687px) {
  body header nav div div ul .navbar_item_mio:hover {
    background-color: white;
  }
}
body main {
  background-image: url(../images/aficion-estudiantes-de-la-plata.jpg);
  background-size: cover;
}
body main .actuales {
  padding: 50px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: white;
}
@media screen and (max-width: 687px) {
  body main .actuales {
    padding: 5;
  }
}
body main div .nombreyfotos .seba {
  margin-top: 25px;
}
body main div .nombreyfotos .seba:hover {
  transform: scale(1.2);
}
body main div .nombreyfotos .seba .foto_actuales {
  border-radius: 50px;
  height: 400px;
  width: 500px;
}
@media screen and (max-width: 1537px) {
  body main div .nombreyfotos .seba .foto_actuales {
    width: 90%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 436px) {
  body main div .nombreyfotos .seba .foto_actuales {
    width: 100%;
    margin: 0;
  }
}
body main div .nombreyfotos .seba .trapos {
  font-family: "Amatic SC", cursive;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  width: fit-content;
  color: white;
  overflow-y: hidden;
}
@media screen and (max-width: 992px) {
  body main div .nombreyfotos .seba {
    width: 81%;
  }
  body main div .nombreyfotos .seba:hover {
    transform: none;
  }
}
@media screen and (max-width: 1396px) {
  body main div .nombreyfotos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    grid-column-gap: 50px;
  }
}
body main .intro_historia {
  justify-content: center;
  color: white;
  padding-top: 10px;
  margin-bottom: 20px;
}
body main .intro_historia .intro_historia_h2 {
  text-align: center;
}
body main .intro_historia .intro_historia_p {
  text-align: center;
}
body main .historia img {
  width: 80%;
}
body main .historia .historia_scale {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .historia p {
  margin-left: 100px;
  margin-top: 100px;
  color: white;
  font-family: "Teko", sans-serif;
  margin-bottom: 120px;
}
body main .historia .historia_scale:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 992px) {
  body main .historia .historia_scale:hover {
    transform: none;
  }
}
body main .historia .historia_scale .row_historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .historia .historia_scale .row_historia .h2_mobile {
  display: none;
  width: max-content;
  color: white;
  font-family: "Amatic SC", cursive;
}
@media screen and (max-width: 1396px) {
  body main .historia .historia_scale .row_historia .h2_mobile {
    display: initial;
  }
}
body main .historia .historia_scale .row_historia .foto_historia {
  border-radius: 50px;
}
body main .historia .historia_scale .historia_div-organizador {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .historia .historia_scale .historia_div-organizador h2 {
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 40px;
}
@media screen and (max-width: 1396px) {
  body main .historia .historia_scale .historia_div-organizador h2 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  body main .historia .historia_scale .historia_div-organizador p {
    margin: 20px;
  }
}
body main .h2_viajes {
  color: white;
  text-align: center;
  font-family: "Amatic SC", cursive;
  padding: 30px 0;
  font-size: 50px;
  text-decoration: underline;
}
body main .intro_viajes {
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 30px 0;
}
body main .viajes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
}
body main .viajes .viajes_contenedor {
  margin: 25px 10px 10px 10px;
}
body main .viajes .viajes_contenedor .viajes_destino {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 30px;
}
body main .viajes .viajes_contenedor .foto_destino {
  width: 90%;
  height: 300px;
  border-radius: 20px;
}
body main .viajes .viajes_contenedor:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 992px) {
  body main .viajes .viajes_contenedor:hover {
    transform: none;
  }
}
@media screen and (max-width: 992px) {
  body main .viajes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (max-width: 687px) {
  body main .viajes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
}
body main .galeria_h2 {
  font-family: "Amatic SC", cursive;
  color: white;
  padding: 30px;
  font-size: 50px;
  text-align: center;
}
body main .carruseles {
  justify-content: space-around;
}
body main .carruseles .h3_titulo {
  font-size: 40px;
  font-family: "Amatic SC", cursive;
  color: white;
}
body main .carruseles .resto {
  display: flex;
  justify-content: space-around;
}
body main .carruseles .resto .carousel_mio {
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin: 20px;
}
@media screen and (max-width: 992px) {
  body main .carruseles .resto .carousel_mio {
    width: 90%;
  }
}
@media screen and (max-width: 436px) {
  body main .carruseles .resto .carousel_mio {
    height: 90%;
  }
}
body main .carruseles .resto .carousel_mio div div .foto_carousel {
  width: 400px;
  height: 400px;
  border-radius: 30px;
}
body main .carruseles .resto .carousel_mio div div div .texto_fotos {
  background-color: black;
  opacity: 0.4;
  border-radius: 30px;
}
body main .carruseles .resto .carousel_america1 {
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin: 20px;
}
@media screen and (max-width: 992px) {
  body main .carruseles .resto .carousel_america1 {
    width: 90%;
  }
}
@media screen and (max-width: 436px) {
  body main .carruseles .resto .carousel_america1 {
    height: 90%;
  }
}
@media screen and (max-width: 992px) {
  body main .carruseles .resto {
    flex-direction: column;
  }
}
body main .carruseles .resto {
  display: flex;
  justify-content: space-around;
}
body main .carruseles .resto .carousel_mio {
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin: 20px;
}
@media screen and (max-width: 992px) {
  body main .carruseles .resto .carousel_mio {
    width: 90%;
  }
}
@media screen and (max-width: 436px) {
  body main .carruseles .resto .carousel_mio {
    height: 90%;
  }
}
body main .carruseles .resto div div div .foto_carousel {
  width: 400px;
  height: 400px;
  border-radius: 30px;
}
body main .carruseles .resto div div div div .texto_fotos {
  background-color: black;
  opacity: 0.4;
  border-radius: 30px;
}
@media screen and (max-width: 687px) {
  body main .carruseles .resto {
    flex-direction: column;
  }
}
body main section {
  padding-bottom: 20px;
}
@media screen and (max-width: 237px) {
  body main section {
    display: none;
  }
}
body main section .titulo_form {
  padding: 15px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: white;
}
body main section .form {
  text-align: center;
}
body main section .form .div_form {
  color: white;
  padding: 20px;
}
@media screen and (max-width: 776px) {
  body main section .form .div_form {
    display: flex;
    flex-direction: column;
  }
}
body main section .form .mensaje_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  padding: 20px;
}
body main section .form .mensaje_form input {
  height: 50%;
}
@media screen and (max-width: 490px) {
  body main section .form .mensaje_form {
    flex-direction: column;
    width: 80%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 230px) {
  body main {
    width: fit-content;
  }
}
body .main_actuales {
  overflow-x: visible;
}
body footer {
  background: rgb(232, 6, 6);
  background: linear-gradient(90deg, rgb(232, 6, 6) 0%, rgb(255, 255, 255) 77%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 10px white solid;
}
body footer .nav_footer {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-right: 30px;
  border-right: 10px;
  border-right-color: black;
  border-right-width: 10px;
  border-right-style: double;
}
body footer .nav_footer ul .li_footer:hover {
  text-decoration: underline;
}
body footer .nav_footer ul .li_footer a {
  list-style: none;
  color: white;
  font-size: 17px;
  font-family: "Bebas Neue", cursive;
  border-radius: 5px;
  margin-top: 20px;
}
@media screen and (max-width: 687px) {
  body footer .nav_footer {
    display: none;
  }
}
body footer .instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body footer .instagram .volver_inicio {
  display: none;
}
@media screen and (max-width: 687px) {
  body footer .instagram .volver_inicio {
    display: initial;
    color: black;
    margin: 10px;
  }
  body footer .instagram .volver_inicio:hover {
    text-decoration: underline;
  }
}
body footer .instagram a .ig {
  width: 50px;
  margin-left: 120px;
}
@media screen and (max-width: 687px) {
  body footer .instagram a .ig {
    margin: 0;
  }
}
body footer .instagram .visitanos {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;
}
body footer .instagram .link_ig {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
@media screen and (max-width: 687px) {
  body footer .instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body footer a .logo_footer {
  margin-right: 20px;
  width: 100px;
}
@media screen and (max-width: 687px) {
  body footer a .logo_footer {
    height: 50%;
  }
}
@media screen and (max-width: 436px) {
  body footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style2.css.map */
